<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>    
      
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FIORDE</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Restaurantes</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="/pesquisa">Pesquisar</a>
                      <a class="dropdown-item" href="/cad">Cadastrar</a>
                  </div>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pratos </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="../templates/pesquisar_Pratos.html">Pesquisar</a>
                        <a class="dropdown-item" href="../templates/cadastro_Pratos.html">Cadastrar</a>
                    </div>
                </li>
            </ul>             
        </div>          
    </nav>
      <br/>
      <h1>CADASTRO PRATOS</h1>
      <br/>
            
      <form class="form-group" style="margin-left: 50px; margin-right: 50px;">
        <div class="form-group">
          <label>RESTAURANTE</label>                              
          <select id="slcResta">
            <option th:each="restaurante : ${restaurantes}" th:value="${restaurante.nomeRestaurante}">
              <label th:text="${restaurante.nomeRestaurante}"></label>
              <a th:text="${restaurante.id}"></a>
            </option>            
          </select>
        </div>
        <div class="form-group">
          <label for="">PRATO</label>
          <input type="text" name="" id="txtPrato" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">PREÇO</label>
          <input type="text" name="" id="txtPreco" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
        <button type="button" name="" id="btn_cad" class="btn btn-primary">CADASTRAR</button>
        <a href="/pesquisaPR" class="btn btn-danger">CANCELAR</a>
    </form>        
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="application/javascript">
    $(document).ready(function () {
       $('#btn_cad').on("click",function (e) {
           e.preventDefault();
           var RestarNome, nomePrato, Preco;
           RestarNome = $('#slcResta').val();
           nomePrato = $('#txtPrato').val();
           Preco = $('#txtPreco').val();
           
            var data = {};
            data["pratoPR"] = nomePrato;
            data["precoPR"] = Preco;
            data["restaurantePR"] = RestarNome;
            
            if($.trim(nomePrato) === "")
            {
                alert("Preecha todos os campos!");
            }
            else
            {
                    $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/cadPR",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    timeout: 6000,
                    success: function (data) {
                        if (confirm("Prato Salvo com Sucesso!")){
                            window.location.reload();
                        }
                        else{
                            alert("Erro");
                        }
                    }                                      
                });        
            }            
       });
    });
  </script>
  </body>
</html>