<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FIORDE</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home  <span class="sr-only">(current) </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Restaurantes</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="/pesquisa">Pesquisar</a>
                      <a class="dropdown-item" href="/cad">Cadastrar</a>
                  </div>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pratos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/pesquisaPR">Pesquisar</a>
                        <a class="dropdown-item" href="/cadPrato">Cadastrar</a>
                    </div>
                </li>
            </ul>             
        </div>          
    </nav>

    <br/>

    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6" style="margin-left: 50px; margin-right: 50px;">
            <h1>Consulta Pratos</h1>
            <br/>
            <a href="/cadPrato" class="btn btn-success">CADASTRAR NOVO PRATO</a>
            <br/>
            <br/>
            <table class="table table-striped table-hover" style="width: 140%;">
                <thead>
                <tr>
                    <th>Restaurante</th>                    
                    <th>Prato</th>
                    <th>Preço</th>                    
                    <th></th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="PR : ${PratosRestaurante}">
                    <td th:text="${PR.restaurantePR}"></td>                                        
                    <td th:text="${PR.pratoPR}"></td>                                        
                    <td th:text="${PR.precoPR}"></td>                                                            
                    <td>
                        <button class="btn btn-danger" id="btn_del" >DELETAR</button>
                        <button class="btn btn-primary" id="btn_edit" >EDITAR</button>                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>                                    
      </div>
      <br/>

  </body>  
</html>